.pop_up_body {
  width: 100vw;
  border: 1px solid #8c5703;
}

.btn_landing {
  padding: 0 10px !important;
  background-color: #14110f;
  border: 5px solid rgb(28 25 23);
  border-radius: 12px;
  box-shadow: 0 0 4px 3px rgba(229, 239, 233, 0.52) inset;
  z-index: 9;
}

.description {
  background-color: rgba(20, 17, 15, 0.8);
  background-image: url("../../assets/imgBg.jpg");
  border: 2px solid #064e3b;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 0;
}

.description::before {
  content: "";
  position: absolute;
  top: 38.5vh;
  left: 0;
  width: 79vw;
  height: 55vh;
  background-color: rgba(20, 17, 15, 0.886); /* Adjust opacity as needed */
  z-index: 2; /* Ensure the pseudo-element is above the background image */
}
