.border_styles{
    position: absolute;
    border-top: 4px solid rgba(6, 78, 59, 0.638);
    border-left: 4px solid rgba(6, 78, 59, 0.638);
    z-index: 9999999;
    pointer-events: none;
  }

  .outter_border{
    width: 50%;
    height: 82%;
  }

  .border_styles_right{
    position: absolute;
    border-top: 4px solid rgba(6, 78, 59, 0.638);
    border-right: 4px solid rgba(6, 78, 59, 0.638);
    z-index: 9999999;
    pointer-events: none;
  }

  .left_section{
    width: 26%;
    height: 84.5%;
  }

  .right_section{
    width: 46%;
    height: 73.5%;
  }